@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  /* Blue */
  --color-secondary: #f43f5e;
  /* Rose */
}

body {
  font-family: 'Noto Sans Myanmar', sans-serif;
  background-color: #f8fafc;
}